@model IEnumerable<MvcApplication2.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Register", "Register", "Home", null);

<h2>All users</h2>
@{
    foreach (var user in Model)
    {
        <li>@user.Name - @user.SecondName - @user.Gender   @Html.ActionLink("Edit" + " " + @user.Name, "Edit", new { id = user.Id} )</li>
    }
}
